emcee==2.2.1
MOE==1.0.0
nibabel==3.2.1
nilearn==0.8.0
numba==0.53.1
numpy==1.21.0
packaging==20.9
scikit-learn==0.24.2
scipy==1.7.0
simnibs==3.1.2
sklearn==0.0
wrapt==1.12.1
psutil==5.8.0
mkl==2021.3.0
mkl-service==2.4.0
pypardiso==0.3.3
